:root {
    --white: #fff;
    --body: #545d6d;
    --dark: #202631;
    --border-color: rgba(0, 0, 0, 0.10);
    --border-width: 1px;
    --border-radius: 30px;
}

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.8;
    color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

a {
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

a:hover {
    color: var(--dark);
}

img {
    width: 100%;
}

/* section {
    padding-top: 170px;
    padding-bottom: 170px;
} */

.center-text{
    padding-top: 200px;
    padding-bottom: 200px;
}

.top{
    padding-top: 200px;
}

/* navbar */
.navbar {
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 9999;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.875em;
    /* color: #000; */
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    /* text-shadow: #000 0px 0px 10px; */
    text-shadow: #202631 1px 0px 10px;
    /* text-shadow: #202631 0px 0px 10px; */
}

.navbar span {
    font-size: 1.5em;
    background-color: #000;
    color: white;
}

.navbar-brand {
    font-size: 1.75em;
    text-transform: uppercase;
    padding-left: 20px;
    

}
.navbar .navbar-nav .nav-link:hover {
    background-color: #000;
    color: var(--white);
}

.social-links a {
    width: 2.25em;
    height: 2.25em;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 1.125em;
    margin-left: 5px;
}

@media(max-width: 992px) {
    .navbar {
        background-color: var(--dark);
    }
}


#hero {
    background-image: url("/assets/img/cris2.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero h1 {
    color: var(--white);
    font-weight: 900;

}

.text-rigth {
    padding-right: 50px;
    text-align: right;
    background-color: black;
    opacity: 50%;
    width: 70%;
}

.text-left {
    padding-left: 50px;
    text-align: left;
    background-color: black;
    opacity: 50%;
    width: 70%;
}

.text-clean {
    background-color: transparent;
}

#hero p {
    color: black;
    font-size: 1.125em;
    max-width: 450px;


}

#hero span {
    /* background-color: #a4c7ef; */
    background-color: #fff2a8;
    padding: 0.3em;
}

.btn {
    padding: 1.25em 2.75em;
    border-color: black;
    border-width: 2px;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    color: var(--white);


}

.intro {
    margin-bottom: 3.75em;

}

.intro h1 {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}

.intro p {
    width: 500px;

}

.line {
    width: 3.75em;
    height: 0.25em;
    background-color: black;
    display: inline-block;
}

.service {
    display: flex;
    border: var(--border-width) solid var(--border-color);
}

.service .icon {
    width: 100px;
    height: 100px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-right: 1em;
    border-radius: var(--border-radius);
}

/* carousel */

.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card .btn {
    width: 100%;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    width: 6vh;
    height: 6vh;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 567px) {
    .card-wrapper {
        display: flex;
    }

    .card {
        margin: 0 .5em;
        width: calc(100%/3);
    }

    .image-wrapper {
        height: 22vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 567px) {
    .card:not(:first-child) {
        display: none;
    }
}


.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    /* filter: blur(10px); */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.image-wrapper img:hover {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(0%);
    /* filter: blur(0px); */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* contact */
#contact form {
    /* padding: 32px; */
    padding-top: 23px;

    border: var(--border-width) solid var(--border-color);

}

#contact form .form-control {
    background-color: #f8f8f8;
    border: transparent;
    padding-left: 18px;
    margin-bottom: 0;
}

#contact form input.form-control {
    height: 56px;
}

/* footer */
.footer-top {
    padding-bottom: 30px;
    border-bottom: var(--border-width) solid var(--border-color);
}

.footer-bottom {
    /* padding-top: 30px; */
    padding-bottom: 30px;
}

footer .social-links a {
    border: var(--border-width) solid var(--border-color);
}